 .logo {
  background-color: transparent;
  height: 88px;
  left: 491px;
  position: absolute;
  top: 44px;
  width: 58px;
}
body{
    background-color: #332928;
    margin: 0px;
    padding: 0px;
}
p{
    font-family: anonymous-pro, monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    
}
h2{
    font-family: novecento-slab, serif;
    font-weight: 300;
    font-style: normal;
    font-size: 24px;
    color: #D4AF37;
}
header{
    margin: 20px;
    padding: 20px;
    font-family: fino-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 48;
    font: outline; color: #D4AF37;
    display: flex; flex-direction: row;
    align-items: center;
    align-content: center;
    align-self: center;
}
.double{
    color: #FEF1E8;
    font-family: anonymous-pro, monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 12;
    padding: 20px;
    display: flex;
    flex-direction: row; 
       
}
div{
    margin: auto;
    padding: 0px 4px ;
    background: #345049;
    width: 200px; height: 200;
    box-sizing: border-box;
    border-color: #D4AF37;
    border-style: solid;
    position: sticky;
    

}
footer{
    background-color: #0A0A0A;
    color: #FEF1E8;
    padding: 40px
}
.triple{
    color: #FEF1E8;
    font-family: anonymous-pro, monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 12;
    display: flex;
    flex-direction: row; 
    text-align: center;
    height: 200px;
    
}
.profile{
    border: #AE2325;
    border-width: 5px;
    background-color: #AE2325;
    margin: auto;
    padding: 3px ;
    border-style: solid;
    box-shadow: #0A0A0A;
    position: relative;
    width: auto;
}
h4{
    font-family: novecento-slab, serif;
    font-weight: 300;
    font-style: normal;
    font-size: 24;
    color: #D4AF37;
    
}
.education{
    height: auto;
}
